body {    
    background-color: rgb(24, 21, 21);
}

.box {
    box-size: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 167px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

button {
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    background-color: rgb(134, 118, 228);
    color: white;
    font-family: ve, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 8px;

}

.box #loadingbar {
    text-align: center;
    background-color: white;
    width: 500px;
    height: 30px;
    margin-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:rgb(132, 158, 158);
    border-radius: 2px;
    animation-name: loader;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

@keyframes loader {
    0% { background-color: rgb(134, 118, 228); width: 0px; left:0px;}
    100% {background-color: rgb(134, 118, 228); width: 400;  }
}

@keyframes reset {
0% { background-color: rgb(134, 118, 228); width: 100%; left:0px;}
100% {background-color: rgb(134, 118, 228); width: 0%;  }

} 